<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Number</mat-label>
    <input
      matInput
      type="text"
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-error
      *ngIf="myControl.hasError('required') || myControl.hasError('maxlength')"
      >{{ displayError() }}</mat-error
    >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options$ | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
